.bg {
  background-color: rgba(183, 191, 254, 0.616);
  height: 50px;
}

.text-wrap {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #555;
  font-weight: 300;
}

/* Memastikan footer tetap di bagian bawah */
body {
  display: flex; /* Pastikan body menggunakan Flexbox */
  flex-direction: column;
  min-height: 100vh; /* Pastikan tinggi minimum halaman sama dengan tinggi layar */
  margin: 0; /* Hilangkan margin default body */
}

footer {
  margin-top: auto; /* Dorong footer ke bagian bawah */
  background-color: #f8f9fa;
}

footer p {
  font-size: 14px;
  color: #6c757d;
  line-height: 1.5;
}

/* Tombol oval */
.custom-button {
  background-color: rgba(183, 191, 254, 0.616);
  border-radius: 50px; /* Membuat tombol oval */
  padding: 10px 20px; /* Memberikan ruang dalam tombol */
  color: black; /* Warna teks hitam */
}

/* Jarak antar tombol */
.button-container .btn + .btn {
  margin-left: 10px;
}

/* Memberikan jarak antara gambar dan footer */
.content-section {
  margin-bottom: 50px;
}
