body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #ffffff;
  box-shadow: 8px 8px 10px #6166fa96;
}

.nav .link-href {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  margin-top: 12px;
  margin-right: 45px;
  height: 40px;
  font-size: 18px;
}

.nav-link {
  text-decoration: none;
  color: #120470 !important;
  font-weight: bold;
}

.nav-link:hover {
  color: #ffce44 !important;
  text-decoration: none;
}
.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #ffffffb3;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-button.left {
  left: 10px;
}

.nav-button.right {
  right: 10px;
}

.nav-button:hover {
  background: #ffffffe6;
}

.icon-user {
  color: #120470;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  height: 80px;
  transition: all 0.3s ease-in-out;
}

.icon-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-item {
  display: none;
  position: fixed;
  top: 58px;
  right: 10px;
  background: #fff;
  box-shadow: 5px 5px 8px #6166fa96;
  transition: all 0.3s ease-in-out;
}

/* Ketika .icon-user dihover, tampilkan elemen dengan class .profile-item */
.icon-user:hover .profile-item {
  display: block;
}
.navbar-usernm {
  font-weight: bold;
}

/* main */
.profile-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background-color: #e6e6e6;
  display: flex;
}

.profile-left {
  flex: 2;
  padding: 20px;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.profile-header .circle {
  width: 80px;
  height: 80px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 15px;
}

.profile-header h4 {
  margin: 0;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  flex: 0 0 100px;
  margin-right: 10px;
}

.form-group input {
  flex: 1;
  max-width: 300px;
}

.profile-right {
  flex: 1;
  padding: 20px;
  text-align: center;
  border-left: 1px solid #ccc;
}

.profile-right .circle {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 auto 20px;
}

.btn-submit {
  background-color: #007bff;
  color: #fff;
  height: 40px;
  box-shadow: 2px 2px 2px #000;
  transition: all 0.3s ease-in-out;
}
.btn-submit:active {
  transform: translateY(-1px);
  box-shadow: 0px 0px 0px #000;
}


@media only screen and (max-width: 420px) {
  .profile-container .row .side-bar {
    display: none;
  }
}

@media only screen and (max-width: 360px) {
  .profile-container .row .side-bar {
    display: none;
  }
}
