<footer>
    <div class="container p-3 h-75">
      <div class="row">
        <div class="col-md-4">
          <h4>Mustika Dua</h4>
          <p>Mustika Dua adalah salah satu Toko Bangunan yang menyediakan semua kebutuhan proyek anda.</p>
          <p>Cukupi Kebutuhan pembanguan proyek anda di Mustika Dua.</p>
        </div>
        <div class="col-md-4">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Cart</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Contact Us</h4>
          <ul>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Whatsapp</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ">
          <p class="text-center">© 2024 Mustika Dua. All rights reserved. <a href="#">Privacy Policy</a></p>
        </div>
      </div>
    </div>
  </footer>