<header>
    <nav
      class="nav nav-pills justify-content-end bg"
      aria-label="Main navigation"
    >
      <a
        href="/"
        class="d-flex mx-3 align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
      >
        <img
          class="bi me-2"
          width="40"
          height="40"
          src="{{ url_for('static', filename='images/icon/logo-brand.png') }}"
          alt="Logo brand"
        />
        <img
          class="fs-4 bi me-2"
          width="160"
          height="40"
          src="{{ url_for('static', filename='images/icon/logo-title.png') }}"
          alt="Logo title"
        />
      </a>
      <ul class="nav">
        <li class="nav-item">
          <a href="#" class="nav-link" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Product</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Cart</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Login</a>
        </li>
      </ul>
    </nav>
  </header>